
.button {
    -fx-background-color: white;
    -fx-text-fill: #51d1f5;
    -fx-position: relative;
    -fx-display: flex;
    -fx-align-items: center;
    -fx-justify-content: center;
    -fx-box-sizing: border-box;
    -fx-width: 200;
    -fx-height: 40;
    -fx-padding: 2;
    -fx-overflow: hidden;
    -fx-font-weight: 600;
    -fx-font-size: 15;
    -fx-text-align: center;
    -fx-border-radius: 65;
}

.button:hover {
    -fx-background-color: #1ccfff;
    -fx-text-fill: white;
}



