#anchorpane {
    -fx-background-color: #e6fffd;
}

#gridPane {
    -fx-hgap: 1px;
    -fx-vgap: 1px;
    -fx-content-display: grid/inline-grid;
    -fx-background-color: #e6fff8;
    -fx-border-color: #3eb1d0;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-border-style: dashed;
}

/*.label {*/
/*    -fx-border-width: 3px;*/
/*    -fx-border-radius: 3px;*/
/*}*/

/* 修改TabPane的Pane区域背景颜色 */
.tab-pane {
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-border-color: #3eb1d0;
    -fx-border-style: dashed;
}
/* 修改Tab的背景颜色 */
.tab {
    -fx-background-color: #e6fff8;
}
/* 修改顶栏的背景颜色 */
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color:#e6fff8;
}
/* 修改Tab中文本的颜色 */
.tab-label {
    -fx-text-fill: white;
}
/* 子代选择器，Tab选中的时候选择其子元素tab-label */
/*.tab:selected .tab-label {*/
/*    -fx-text-fill: #00ffd0;*/
/*}*/
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: #42e3a0;
}
/* Tab选中的时候选中其边框并修改样式 */
/*.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {*/
/*    -fx-border-radius: 0px;*/
/*    -fx-border-width: 1px 1px 1px 1px;*/
/*    -fx-border-color: #42c1e3;*/
/*}*/


.combo-box-base {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #3eb1d0;
    -fx-border-style: dashed;
    -fx-border-radius: 3px;
}




