.button {
    -fx-background-color: #13b49d;
    -fx-text-fill: white;
    -fx-position: relative;
    -fx-display: flex;
    -fx-align-items: center;
    -fx-justify-content: center;
    -fx-box-sizing: border-box;
    -fx-padding: 2;
    -fx-overflow: hidden;
    -fx-font-weight: 600;
    -fx-font-size: 15;
    -fx-text-align: center;
    -fx-border-radius: 65;
}
.button:hover {
    -fx-opacity: 0.6;
}