#topBox {
    -fx-background-color: #13b49d;
}

#header {
    -fx-background-color: #13b49d;
}
#vBox {
    -fx-background-image: url(../image/VBOX.jpg);
}

#centerPane {
    -fx-background-color: #dbffed;
}
#statueLabel{
    -fx-background-color: #dbffed;
}

#searchTabButton ,#changeButton{
    -fx-background-color: #e6ffef;
    -fx-text-fill: #00543c;
    -fx-border-style: none;
    -fx-border-radius: 3px;
}

.combo-box-base {
    -fx-background-color: #13b49d;
    -fx-border-width: 2px;
    -fx-border-color: #13b49d;
    -fx-border-radius: 3px;
}
.combo-box .list-cell{
    -fx-background-color: #13b49d;
    -fx-text-fill: #fff;
}
.combo-box .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #85d3d1;
}