.table-view {
    -fx-background-color: #edfff4;
    -fx-border-color: #dbffed;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #04a7cc;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-text-background-color: #04a7cc;
}

.table-view  .virtual-flow  .corner {
    -fx-background-color: #dbffed;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

/*以下为tableview所属scrollPane中滚动条的样式*/
/*轨道样式*/
.scroll-pane .scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #dbffed ;
    -fx-border-color:#dbffed;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/*横向滚动条增减按钮样式*/
.scroll-pane .scroll-bar:horizontal .increment-button ,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

/*竖向滚动条增减按钮样式*/
.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

/*增减按钮中图标样式*/
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-background-color:transparent;
    -fx-shape: " ";
    -fx-padding:0;
}

/*滚动条滑块样式*/
.scroll-pane .scroll-bar:horizontal .thumb{
    -fx-background-color: linear-gradient(to right, #1dbbdd70, #93f9b970);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd70, #93f9b970);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


/* 修改TabPane的Pane区域背景颜色 */
.tab-pane {
    -fx-background-color: #e6fffd;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}
/* 修改Tab的背景颜色 */
.tab {
    -fx-background-color: #e6fffd;
}
/* 修改顶栏的背景颜色 */
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color:#e6fffd;
}
/* 修改Tab中文本的颜色 */
.tab-label {
    -fx-text-fill: #ffffff;
}

.tab:selected {
    -fx-background-color: #3fd2af;
}



.combo-box-base {
    -fx-background-color: #00bdb8;
    -fx-border-width: 2px;
    -fx-border-color: #00bdb8;
    -fx-border-radius: 3px;
}
.combo-box .list-cell{
    -fx-background-color: #00bdb8;
    -fx-text-fill: #fff;
}
.combo-box .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #85d3d1;
}

.combo-box > drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;/*放于右方顶部*/
    width: 50px;/*设置按钮范围宽度*/
}

.button {
    -fx-background-color: #00bda7;
    -fx-text-fill: #fff;
    -fx-border-style: none;
    -fx-border-radius: 3px;
}
.button:hover {
    -fx-opacity: 0.7;
}

.text-field {
    -fx-background-color: #64c4c0;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #fff;
}

.scroll-pane {
    -fx-background-color: #c8fae2;
    -fx-border-color: #4ed3ab;
    -fx-border-radius: 2px;
    -fx-border-width: 3px;
}

#changeBox {
    -fx-background-color: #e6fffd;
}

#anchorPane, #editDeleteAnchorPane ,#editDeleteBorderPane ,#pane , #lesson
,#paneMember  {
    -fx-background-color: #e6fffd;
}

.check-box {
    -fx-background-size:16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.pagination .pagination-control .button, .pagination .toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: darkgrey;
}

.pagination .pagination-control .toggle-button:selected {
    -fx-background-color: #00bdb8;
}

.pagination .pagination-control .toggle-button:hover, .pagination .pagination-control .button:hover  {
    -fx-background-color: #00bdb8;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: black;
}

.pagination .label {
    -fx-text-fill: black;
}

